@import "compass/css3";
@import "mixins.scss";



// Slider

#sliderWrapper {
  width: 100%;
  height: 300px;
  margin-top: 120px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  }

  @include keyframes(rotateSlider){
    0%{
      @include transform(translateZ(-400px) rotateY(0deg) rotateX(12deg));
    }
    100%{
      @include transform(translateZ(-400px) rotateY(360deg) rotateX(12deg));
    }
  }

    #ring01 {
      width: 400px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -200px;
      margin-top: -160px;
      opacity: 1;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 0% 0px;
      transform-origin: 50% 0% 0px;
      @include animation(rotateSlider 12s infinite linear);
    }

#ring01 {
  left: 50%;
  top: 50%;
}


#sliderBox {
  width: 100%;
  height: 100%;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
    &:hover{
      #ring01 {
        //-webkit-animation-play-state: paused;
      }
    }
  }

#sliderBox #ring01 > div, #sliderBox #ring02 > div {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: 0px 0px 0px;
  transform-origin: 0px 0px 0px;
  position: absolute;
  opacity: 1; }

#sliderBox #ring01 > div > div, #sliderBox #ring02 > div > div {
  position: relative;
  width: 204px;
  height: 180px;
  cursor: pointer;
  border: solid $rojo 3px;
  boxSizing: border-box;
  -webkit-transform-origin: 0px 0px 0px;
  transform-origin: 0px 0px 0px;
  @include transform(translateX(479px) translateZ(104px) rotateY(90deg) rotateX(0deg));
  span{
    color:transparent;
    font-size: 2em;
  }
  &:hover{
    border: solid $turquesa 3px;
    span{
      color: $blanco;
    }
  }
}

#sliderBox > div > div:hover {
  //border: solid white 3px;
}

#sliderBox > div > div:focus {
  animation: stop;
}

$sng : 24;

#s1 {
  @include transform(translate(200px) rotateY($sng*1deg));
}
  #s1 #s1img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/lite-150_0.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
  }


#s2 {
  @include transform(translate(200px) rotateY($sng*2deg));
}
  #s2 #s2img {
    position: absolute;
    background-repeat: no-repeat;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/sr2.png");
    background-position-y: 15px;
  background-repeat: no-repeat;
  background-size: 93%;
}

#s3 {
  @include transform(translate(200px) rotateY($sng*3deg));
}
  #s3 #s3img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/ttr-110.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;}

#s4 {
  @include transform(translate(200px) rotateY($sng*4deg));
}
  #s4 #s4img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/CR6.png");
    background-position-y: 15px;
  background-repeat: no-repeat;
  background-size: 93%;
}

#s5 {
  @include transform(translate(200px) rotateY($sng*5deg));
}
  #s5 #s5img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/cg200_0.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s6 {
  @include transform(translate(200px) rotateY($sng*6deg));
}
  #s6 #s6img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/LX200.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s7 {
  @include transform(translate(200px) rotateY($sng*7deg));
}
  #s7 #s7img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/Predator-110.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s8 {
  @include transform(translate(200px) rotateY($sng*8deg));
}
  #s8 #s8img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/SX2-250.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s9 {
  @include transform(translate(200px) rotateY($sng*9deg));
}
  #s9 #s9img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/CRM-150.png");
    background-position-y: 15px;
  background-repeat: no-repeat;
  background-size: 93%;
}

#s10 {
  @include transform(translate(200px) rotateY($sng*10deg));
}
  #s10 #s10img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/GP-250.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s11 {
    @include transform(translate(200px) rotateY($sng*11deg));
  }
  #s11 #s11img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/cr1-150.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s12 {
  @include transform(translate(200px) rotateY($sng*12deg));}
  #s12 #s12img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/CR5.png");
    background-position-y: 15px;
  background-repeat: no-repeat;
  background-size: 93%;
}

#s13 {
  @include transform(translate(200px) rotateY($sng*13deg));
}
  #s13 #s13img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/BWS150_0.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s14 {
  @include transform(translate(200px) rotateY($sng*14deg));
   }
  #s14 #s14img {
    position: absolute;
    background: url("/katana20/sites/default/files/styles/medium/public/2020-01/smx200.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}

#s15 {
  @include transform(translate(200px) rotateY($sng*15deg)); }
  #s15 #s15img {
    position: absolute;
    background: url("/katana20/sites/default/files/2020-01/smx150.png");
    background-position-y: 15px;
     background-repeat: no-repeat;
     background-size: 93%;
}
